body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  height: 100%;
  width: 100%;
  margin-left: 20px;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form {
  display: flex;
  flex-direction: column;
}

.info{
  font-family: 'Roboto', "Helvetica", "Arial", "sans-serif";
  font-size: 18px;
  letter-spacing: 1px;
}

.form-element{
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  width: 100px;
}

.key-input{
  max-width:300px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', "Helvetica", "Arial", "sans-serif";

}

.file-input {
  margin-top: 10px;
  margin-bottom: 10px;
  color: transparent !important; /* Hides the text */
  font-family: 'Roboto', "Helvetica", "Arial", "sans-serif";
	/* background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; */
}


.info-paragraph {
  margin: 10px 0 10px;
}

.vertical-margin {
  margin: 10px 0 10px;
}

.heading {
  color: #1a76d2;
}

.upload-button {

  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', "Helvetica", "Arial", "sans-serif";
  /* padding: 5px 10px;
  width: 150px; */
	/* color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; */
}

.upload-columns{
  display: flex;
  /* flex-direction: row; */

  @media only screen and (max-width: 600px) {
  }
}